<div data-role="view" id="donnar_list">
    <div data-role="header">
            <div data-role="navbar" style="background-color:#1975D1;height:45px;">
                <a data-role="backbutton" data-align="left" style="color:white;background-color:#1975D1;border:0px solid #ccc;margin-left:-15px;" data-icon="arrow-e"></a>
                <span data-role="view-title" style="font-size:18px;color:white;"></span>
                <a data-role="button" href="#project/views/donnarDetail.html" data-icon="submit"  data-align="right" style="color:white;background-color:#1975D1;border:0px solid #ccc;"></a>
            </div>
    </div>
    
    this is a donnar list
</div>